<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Computer</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
</head>
<body>
	<div id="cur">
		<b>台幣:</b><br><input type="" name="" v-model="NT" placeholder="請輸入台幣...">
		<ul>
			<!-- <li v-for="coun in countrys">
				{{coun.country}}:{{calu}}
			</li> -->
			<li>美金: {{US}}</li>
			<li>日幣: {{JP}}</li>
			<li>港幣: {{HK}}</li>
			<li>歐元: {{EU}}</li>
			<li>韓幣: {{KR}}</li>
		</ul>
	</div>
	<div id="bmi">
		
	</div>
</body>
<script type="text/javascript" src="Computer.js"></script>
</html>